@charset "UTF-8";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 12px;
  color: #6D6E71;
}

.main_header {
  position: relative;
  text-align: center;
}

/* HEADER FLEXSLIDER BACKGROUND STYLE */

.main_header .flexslider {
  border: none;
  margin-bottom: 0;
}

.main_header .flexslider .flex-control-nav {
  width: auto;
  position: absolute;
  bottom: 45%;
  text-align: center;
  right: 10px;
  /* z-index: 5; */
}

.main_header .flexslider .flex-control-nav li {
    margin: 6px 0;
    display: block;
    zoom: 1;
}

.main_header .flexslider .flex-control-paging li a {
    background: transparent;
    border: 1px solid rgba(255,255,255, 0.6);
}

.main_header .flexslider .flex-control-paging li a.flex-active {
    background: rgba(255, 255, 255, 0.9);
}

.main_header .flexslider .flex-direction-nav {
  display: none;
}

/* HEADER BACKGROUNDS */

.main_header_slide {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
}

.header_slide_1 {
  background-image: url('../images/portada-1.jpg');
}

.header_slide_2 {
  background-image: url('../images/portada-2.jpg');
}

.header_slide_3 {
  background-image: url('../images/portada-3.jpg');
}

/* HEADER OVERLAY */

.main_header_overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  padding: 0 12vw;
}

.main_header_title {
  padding-top: 35vh;
  width: 280px;
}

.main_header_logo {
  width: 50%;
  position: absolute;
  left: 50%;
  margin-left: -25%;
  bottom: 20%;
  margin-bottom: -20%;
}

.main_header_logo img {
  width: 100%;
}

/* INMOBILIARIA SECTION */

.inmobiliaria_section {
  margin: 40px 0 20px 0;
  padding: 0 6vw;
  text-align: center;
}

.inmobiliaria__articles_section {
  margin: 40px 0;
}

.inmobiliaria__article {
  background-color: #EDEBEA;
  padding: 25px;
  margin: 15px 0;
  transition: 0.6s;
}

.inmobiliaria__article_title {
  font-size: 1.7rem;
  color: #6D6E71;
  margin: 0;
}

.inmobiliaria__article_line {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #6D6E71;
  margin: 10px auto 0 auto;
}

.inmobiliaria__article_text {
  font-size: 1.2em;
}

.inmobiliaria_article-hidden-text {
  display: none;
  transition: 0.5s;
}

/* @keyframes show {
  0%, 50% {
    display: block;
    visibility: hidden;
  }
  60% {
    visibility: visible;
  }
} */
