@charset "UTF-8";

.nav-menu-res {
  z-index: 99;
  width: 100%;
  height: 50px;
  position: absolute;
}

.menu-hide{
  left: -281px;
  position: fixed;
  top: 0px;
  transition: all .5s ease-in-out;
  text-align: center;
  background-color: rgba(255,255,255, 0.95);
  z-index: 50;
  width: 280px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.show{
  left: 0px;
  transition: all .5s ease-in-out;
}

.hamburger_div {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 15px;
  top: 15px;
  z-index: 99;
  width: 30px;
  transition: 0.5s ease-in-out;
  text-align: right;
  border: 1px solid #fff;
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.hamburger_div--black {
  border: 1px solid #58585B;
}

.menuicon {
  background-color: #fff;
  height: 2px;
  width: 50%;
  margin: 3px 0;
  transition: 0.3s;
  float: right;
}

.menuicon_first {
  transform: rotate(45deg) translateX(2px) translateY(-4px);
  transform-origin: top left;
}

.menuicon_second {
  opacity: 0;
}

.menuicon_third {
  transform: rotate(-45deg) translateX(2px) translateY(4px);
  transform-origin: bottom left;
}

.menuicon--black {
  background-color: #58585B;
}

.menures {
  margin: 0;
  text-align: left;
  padding: 20px;
}

.menu-logo {
  width: 70%;
  display: block;
}

.menu-logo img {
  width: 100%;
  display: block;
}

.menures li {
  display: block;
  list-style-type: none;
  position: relative;
  margin: 5px 0;
}

.menures a {
  color: #58585B;
  text-decoration: none;
  display: inline-block;
  font-size: 1.4rem;
  transition: 0.5s;
}

.menures__separation {
  width: 20px;
  height: 1px;
  background-color: #58585B;
}

.menu_active {
  height: 1em;
  background-color: #fff;
  width: 2px;
  display: inline-block;
  position: absolute;
  left: -5px;
  bottom: 5px;
}

.brochure__logo {
  margin-top: 20px;
}


@media (min-width: 992px) {


/* .menu_full {
  display: block;
  margin-top: 50px;
}

.menu__full-list {
  list-style-type: none;
}

.menu__full-list img {
  width: 120px;
}

.menu__full-list-img-black {
  display: none;
}

.menu__full-list-link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
}

.menu__full-list-link-grey {
  color: #818589;
}

.menu-title {
  padding-left: 40px;
  margin: 8px 0;
  font-weight: 400;
}

.menu__full-list-link-select {
  font-weight: 600;
  color: #000;
}

.menu__full-list-link-select-black {
  font-weight: 600;
  color: #000;
} */

}



@media (min-width: 1200px) {

}



@media (min-width: 1440px) {

}
