@charset "UTF-8";

@media (min-width: 768px) and (orientation: portrait) {

  .main_header_logo {
    max-width: 280px;
    position: absolute;
    left: 50%;
    margin-left: -140px;
    bottom: 20%;
    margin-bottom: -20%;
  }

  .inmobiliaria_section {
    max-width: 500px;
    margin: 10vh auto;
    padding: 0;
    text-align: center;
  }


}

@media (min-width: 1000px) and (orientation: landscape) {

  /* HEADER BACKGROUNDS */

  .header_slide_1 {
    background-image: url('../images/portada-1-web.jpg');
  }

  .header_slide_2 {
    background-image: url('../images/portada-2-web.jpg');
  }

  .header_slide_3 {
    background-image: url('../images/portada-3-web.jpg');
  }

  /* HEADER OVERLAY */

  .main_header_title {
    padding-top: 40vh;
    width: 350px;
  }

  .main_header_logo {
    max-width: 230px;
    position: absolute;
    left: 50%;
    margin-left: -115px;
    bottom: 20%;
    margin-bottom: -15vh;
  }

  /* INMOBILIARIA SECTION */

  .inmobiliaria_section {
    max-width: 1200px;
    margin: 10vh auto;
    padding: 0 5%;
    text-align: center;
  }

  .inmobiliaria_section-text {
    font-size: 1rem;
    padding: 0 10%;
  }

  .inmobiliaria__articles_section {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .inmobiliaria__article {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 33.3%;
    height: 170px;
    transition: all 0.8s;
    margin: 0 10px;
  }

  .inmobiliaria_article-hidden-text {
    display: none;
    visibility: visible;
  }

  @keyframes show {
    0% {
      opacity: 0;
    }
    95% {
      display: block;
    }
    100% {
      opacity: 1;
    }
  }

  .inmobiliaria__article-resize {
    height: 250px;
  }

  .inmobiliaria_article-hidden-text-show {
    display: inline;
    animation: show 0.8s forwards;
  }


}
