@charset "UTF-8";

@media (min-width: 768px) and (orientation: portrait) {

  .main_header_logo {
    max-width: 280px;
    position: absolute;
    left: 50%;
    margin-left: -140px;
    bottom: 20%;
    margin-bottom: -20%;
  }

  .inmobiliaria_section {
    max-width: 500px;
    margin: 10vh auto;
    padding: 0;
    text-align: center;
  }

  /* PROYECT CONTENT VISIBLE ON MOBILE VERSION */

  .proyecto__item-title--mobile {
    font-size: 2rem;
    font-weight: 300;
  }

  .proyecto__item-list--mobile {
    font-size: 1.2rem;
  }

  .proyecto__item-description--mobile {
    font-size: 1.2rem;
  }


}

@media (min-width: 1000px) and (orientation: landscape) {

  /* HEADER BACKGROUNDS */

  .header_slide_1 {
    background-image: url('../images/portada-1-web.jpg');
  }

  .header_slide_2 {
    background-image: url('../images/portada-2-web.jpg');
  }

  .header_slide_3 {
    background-image: url('../images/portada-3-web.jpg');
  }

  /* HEADER OVERLAY */

  .main_header_title {
    padding-top: 40vh;
    width: 350px;
  }

  .main_header_logo {
    max-width: 230px;
    position: absolute;
    left: 50%;
    margin-left: -115px;
    bottom: 20%;
    margin-bottom: -15vh;
  }

  /* INMOBILIARIA SECTION */

  .inmobiliaria__section {
    max-width: 1200px;
    margin: 10vh auto;
    padding: 0 5%;
    text-align: center;
  }

  .inmobiliaria__section-text {
    font-size: 1rem;
    padding: 0 15%;
  }

  .inmobiliaria__articles_section {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .inmobiliaria__article {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 33.3%;
    height: 170px;
    transition: all 0.5s;
    margin: 0 10px;
  }

  .inmobiliaria__article-hidden-text {
    display: none;
    visibility: visible;
  }

  @keyframes show {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      display: block
    }
  }

  .inmobiliaria__article-resize {
    height: 250px;
  }

  .inmobiliaria_article-hidden-text-show {
    display: inline;
    animation: show 1s forwards;
  }


  /* PROYECTOS SECTION */

  .proyectos__flex {
    display: flex;
    flex-direction: row;
    height: 80vh;
    margin: 5vh 0;
  }

  .proyecto__item {
    height: 80vh;
    width: 20%;
    background-position: top center;
  }

  /* PROYECT ITEM STYLE AND RESIZE CLASS */

  .proyecto__item-retract {
    height: 80vh;
    width: 12.5%;
  }

  .proyecto__item-expand {
    height: 80vh;
    width: 50%;
  }

  .uno {
    background-image: url('../images/lovial-bkg-web.jpg');
  }

  .dos {
    background-image: url('../images/vendimia-bkg-web.jpg');
  }

  .tres {
    background-image: url('../images/piedemonte-bkg-web.jpg');
  }

  .cuatro {
    background-image: url('../images/piedemonte-bkg-web.jpg');
  }

  .cinco {
    background-image: url('../images/loovalle-bkg-web.jpg');
  }

  /* PROYECT TITLE VISIBLE FOR MOBILE SCREENS */

  .proyecto__item-title--mobile {
    display: none;
  }

  /* PROYECT TITLE VISIBLE FOR DESKTOP & LAPTOP SCREENS */

  .proyecto__item-title--desktop {
    display: block;
    position: absolute;
    bottom: 30px;
    left: 5%;
  }

  .proyecto__item-title-h3--desktop {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin: 0;
    font-weight: 500;
    display: inline-block;
    vertical-align: middle;
  }

  .proyecto__item-title--desktop-line {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 10px 0 30px 0;
  }

  .proyecto__item-title--desktop span {
    border: 2px solid #fff;
    text-align: center;
    padding: 10px 15px;
    color: #fff;
    cursor: pointer;
  }

  /* PROYECT CONTENT VISIBLE ON MOBILE VERSION */

  .proyecto__item-content--mobile {
    display: none;
  }

  /* PROYECT CONTENT VISIBLE ON DESKTOP VERSION */

  .proyecto__item-content-desktop {
    display: block;
  }

  /* modal box for proyects */

  /* The Modal (background) */
  .modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: -99; /* Sit on top */
    opacity: 0;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(255,255,255); /* Fallback color */
    background-color: rgba(255,255,255,0.8); /* Black w/ opacity */
    transition: 0.3s;
  }

  @keyframes modalShow {
    0% {
      z-index: -99;
      opacity: 0;
    }
    50% {
      z-index: 99;
      opacity: 0;
    }
    100% {
      z-index: 99;
      opacity: 1;
    }
  }

  .modal-show {
    animation: modalShow 0.7s forwards;
  }

  /* Modal Content */
  .modal-content {
    height: 100%;
    width: 100%;
  }

  /* The Close Button */
  .close {
    color: #aaaaaa;
    position: absolute;
    font-size: 50px;
    font-weight: bold;
    top: 50px;
    right: 50px;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  /* MODAL BOX FLEXSLIDER */

  .modal-content .flexslider {
    width: 60%;
    border: 0;
  }

  .modal-content .flexslider .slides img {
    height: 100vh;
  }

}
