@charset "UTF-8";

@media (min-width: 768px) and (orientation: portrait) {

  .main_header_title {
    max-width: 350px;
  }

  .main_header_title-2 {
    max-width: 300px;
  }

  .main_header_title-3 {
    max-width: 330px;
  }

  .main_header_logo {
    max-width: 280px;
    position: absolute;
    left: 50%;
    margin-left: -140px;
    bottom: 20%;
    margin-bottom: -20%;
  }

  .inmobiliaria_section {
    max-width: 500px;
    margin: 10vh auto;
    padding: 0;
    text-align: center;
  }

  /* PROYECT CONTENT VISIBLE ON MOBILE VERSION */

  .proyecto__item-title--mobile {
    font-size: 2rem;
    font-weight: 300;
  }

  .proyecto__item-list--mobile {
    font-size: 1.2rem;
  }

  .proyecto__item-description--mobile {
    font-size: 1.2rem;
  }

  /* PASOS FLEX */

  .pasos__flex {
    max-width: 500px;
  }


}

@media (min-width: 999px) and (orientation: portrait) {

  /* FUTURO SECTION */

  .futuro__section {
    background-color: #404041;
    padding: 5vh 20vw;
  }

}

@media (min-width: 1000px) and (orientation: landscape) {

  /* HEADER BACKGROUNDS */

  .header_slide_1 {
    background-image: url('../images/portada-1-web.jpg');
  }

  .header_slide_2 {
    background-image: url('../images/portada-2-web.jpg');
  }

  .header_slide_3 {
    background-image: url('../images/portada-3-web.jpg');
  }

  /* HEADER OVERLAY */

  .main_header_title {
    padding-top: 40vh;
    max-width: 520px;
  }

  .main_header_title-2 {
    padding-top: 40vh;
    max-width: 370px;
  }

  .main_header_title-3 {
    padding-top: 40vh;
    max-width: 440px;
  }

  .main_header_logo {
    max-width: 230px;
    position: absolute;
    left: 50%;
    margin-left: -115px;
    bottom: 20%;
    margin-bottom: -15vh;
  }

  /* INMOBILIARIA SECTION */

  .inmobiliaria__section {
    max-width: 1200px;
    margin: 10vh auto;
    padding: 0 5%;
    text-align: center;
  }

  .inmobiliaria__section-text {
    font-size: 1rem;
    padding: 0 15%;
  }

  .inmobiliaria__articles_section {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .inmobiliaria__article {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 33.3%;
    height: 170px;
    transition: all 0.5s;
    margin: 0 10px;
  }

  .inmobiliaria__article-hidden-text {
    display: none;
    visibility: visible;
  }

  @keyframes show {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      display: block
    }
  }

  .inmobiliaria__article-resize {
    height: 250px;
  }

  .inmobiliaria_article-hidden-text-show {
    display: inline;
    animation: show 1s forwards;
  }


  /* PROYECTOS SECTION */

  .proyectos__flex {
    display: flex;
    flex-direction: row;
    height: 80vh;
    margin: 5vh 0;
  }

  .proyecto__item {
    height: 80vh;
    width: 20%;
    background-position: top center;
  }

  /* PROYECT ITEM STYLE AND RESIZE CLASS */

  .proyecto__item-retract {
    height: 80vh;
    width: 12.5%;
  }

  .proyecto__item-expand {
    height: 80vh;
    width: 50%;
  }

  .uno {
    background-image: url('../images/lovial-bkg-web.jpg');
  }

  .dos {
    background-image: url('../images/vendimia-bkg-web.jpg');
  }

  .tres {
    background-image: url('../images/piedemonte-bkg-web.jpg');
  }

  .cuatro {
    background-image: url('../images/penuelas-bkg-web.jpg');
  }

  .cinco {
    background-image: url('../images/loovalle-bkg-web.jpg');
  }

  /* PROYECT TITLE VISIBLE FOR MOBILE SCREENS */

  .proyecto__item-title--mobile {
    display: none;
  }

  /* PROYECT TITLE VISIBLE FOR DESKTOP & LAPTOP SCREENS */

  .proyecto__item-title--desktop {
    display: block;
    position: absolute;
    bottom: 30px;
    left: 5%;
  }

  .proyecto__item-title-h3--desktop {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin: 0;
    font-weight: 500;
    display: inline-block;
    vertical-align: middle;
  }

  .proyecto__item-title--desktop-line {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 10px 0 30px 0;
  }

  .proyecto__item-title--desktop span {
    border: 2px solid #fff;
    text-align: center;
    padding: 10px 15px;
    color: #fff;
    cursor: pointer;
  }

  /* PROYECT CONTENT VISIBLE ON MOBILE VERSION */

  .proyecto__item-content--mobile {
    display: none;
  }

  /* PROYECT CONTENT VISIBLE ON DESKTOP VERSION */

  .proyecto__item-content-desktop {
    display: block;
  }

  /* modal box for proyects */

  /* The Modal (background) */
  .modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: -99; /* Sit on top */
    opacity: 0;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(255,255,255); /* Fallback color */
    background-color: rgba(255,255,255,0.9); /* Black w/ opacity */
    transition: 0.3s;
  }

  @keyframes modalShow {
    0% {
      z-index: -99;
      opacity: 0;
    }
    50% {
      z-index: 99;
      opacity: 0;
    }
    100% {
      z-index: 99;
      opacity: 1;
    }
  }

  .modal-show {
    animation: modalShow 0.7s forwards;
  }

  /* Modal Content */
  .modal-content {
    height: 100%;
    width: 100%;
  }

  /* The Close Button */
  .close {
    color: #aaaaaa;
    position: absolute;
    font-size: 50px;
    font-weight: bold;
    top: 50px;
    right: 50px;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  /* MODAL BOX FLEXSLIDER */

  .modal-content .flexslider {
    width: 60%;
    border: 0;
    display: inline-block;
  }

  .modal-content .flexslider .slides img {
    height: 100vh;
  }

  .modal-content .flexslider .flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: 30px;
    text-align: center;
  }

  .modal-content .flexslider .flex-control-paging li a {
    background: #fff;
    background: rgba(255, 255, 255, 0.5);
}

  .modal-content .flexslider .flex-control-paging li a.flex-active {
    background: #fff;
    background: rgba(255, 255, 255, 0.9);
    cursor: default;
  }

  /* MODAL BOX TEXT */

  .modal__text {
    vertical-align: top;
    display: inline-block;
    width: 39%;
    padding: 0 10%;
  }

  .modal__text-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
  }

  .modal__text-title {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #545759;
  }

  .modal__text-separation {
    display: block;
    width: 40px;
    height: 2px;
    background-color: #545759;
  }

  .modal__text_list-info {
    list-style-type: none;
    padding: 0;
    font-size: 1rem;
  font-weight: 500;
  }

  .modal__text-caracteristicas {
    font-size: 1rem;
  font-weight: 500;
  color: #545759;
  }

  /* EQUIPO SECTION */

  .equipo__title {
    margin: 10vh auto 5vh auto;
  }

  .experiencia__flex {
    display: flex;
    background-color: #EDEBEA;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    padding: 12vh 15%;
    max-width: 2000px;
  }

  .experiencia__item {
    width: 25%;
    text-align: center;
    vertical-align: top;
    padding: 0 5%;
  }

  .experiencia__item p {
    font-size: 1rem;
  }

  /* FUTURO SECTION */
  .futuro__section {
    position: relative;
    max-width: 2000px;
    background-color: #404041;
    padding: 10vh 10% 15vh 10%;
  }

  .futuro__title {
    max-width: 400px;
    margin-bottom: 120px;
  }


  /* PRUEBA NUEVA */

  /* --------- */

  .futuro_sections {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .futuro_steps {
    width: 35%;
  }

  .futuro_steps_item {
    cursor: pointer;
    margin: 30px 0;
    display: block;
  }

  .futuro_steps_item_focus .steps_item_number {
    color: #fff;
  }

  .futuro_steps_item_focus .steps_item_title {
    color: #fff;
  }

  .futuro_steps_item_focus .steps_item_line  {
    background-color: #fff;
  }

  .steps_item_number {
    color: #808285;
    vertical-align: middle;
    display: inline-block;
    margin: 0;
    font-weight: 300;
    font-size: 1.8rem;
    transform: rotate(-90deg) translateX(0.5rem);
    transform-origin: center center;
    width: 3rem;
  }

  .steps_item_title {
    color: #808285;
    vertical-align: middle;
    display: inline-block;
    margin: 0;
    font-size: 1.3rem;
    font-weight: 300;
  }

  .steps_item_line {
    vertical-align: middle;
    display: inline-block;
    background-color: #808285;
    height: 2.5rem;
    width: 2px;
    margin: 0 10px;
  }

  .forward {
    color: #fff;
    font-size: 1.8rem;
    vertical-align: middle;
    margin-left: 20px;
    display: none;
  }

  .forward-show {
    display: inline-block;
  }

  .futuro_info {
    width: 65%;
  }

  .futuro_steps_item_res {
    display: none;
  }

  .futuro_info_item {
    color: #fff;
    height: 0px;
    opacity: 0;
    margin: auto;
    /* transition: 0.5s; */
  }

  .futuro_info_item_expanded {
    height: 100%;
    /* display: block; */
    opacity: 1;
  }

  .preguntas {
    display: flex;
    flex-wrap: wrap;
  }

  .preguntas_item {
    width: 50%;
    padding: 0 20px;
  }

  .preguntas_item h4 {
    font-size:
  }

  .pasos_flex {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

  .paso_item {
    margin: 0;
  }

  .paso_item img {
    width: 100px;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
  }

  .paso_info {
    display: inline-block;
    width: 68%;
    vertical-align: middle;
  }

  .paso_info h3 {
    text-transform: uppercase;
    margin: 5px 0;
  }


  /* --------- */

  /* FUTURO ITEMS EXPAND */

  .futuro__items {
    margin: 40% 0;
  }

  .futuroExpander {
      display: block;
      position: relative;
  }

  .futuroExpander .futuro__expander-head {
      display: inline-block;
      /* width: 40%; */
      cursor:pointer;
      vertical-align: top;
  }

  .futuro__expander-head h2 {
    width: 40px;
  }

  .futuro__expander-head span {
    vertical-align: middle;
    display: inline-block;
    font-size: 1.6rem;
    margin-left: 10px;
  }


  .futuroExpander:not(.expanded) .futuro__expander-content {
       display: none;
  }

  .futuro__expander-content {
      display: inline-block;
      position: absolute;
      width: 50%;
      vertical-align: top;
      left: 50%;
  }

  .futuroExpander .futuro__expander-content  {
      font-size: 1rem;
  }

  .content-uno {
    top: 0%;
  }

  .content-dos {
    /* width: 50%; */
    top: -450%;
  }

  .content-tres {
    top: -1000%;
  }

  .content-tres p {
    font-size: 0.7rem;
  }

  /* PASOS FLEX */

  .paso__item img {
    width: 100px;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
  }


  /* -------- */

  /* CONTACT SECTION */

  .contact__section {
    max-width: 2500px;
    margin: 0;
    padding: 0;
  }

  .contact__background {
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 50%;
      height: 100%;
      background-color: #EDEBEA;
      z-index: -1;
  }

  .contact__section > h2 {
    margin: 0;
    padding-top: 5vh;
  }

  .contact__flex-desktop {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 10vh 0;
  }

  .contact__text {
    font-size: 1rem;
    width: 50%;
    margin: 0;
    padding: 0 15%;
  }

  .contact__form {
    width: 50%;
    padding: 0 10%;
  }

  /* FOOTER */

  .footer {
    background-color: #404041;
    text-align: center;
    padding: 30px 5vw;
  }

  .footer__img {
    max-width: 150px;
    margin-bottom: 0;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10%;
  }

  .footer p {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.7rem;
  }

}
